<div id="forkme" onclick="return forkme();" style="cursor: pointer;" ></div>
<div style='text-align: center;'>
  <h1>Image Converter</h1><span>by Pablo van Diest</span>
  <br/>
  <h2>Converted Images</h2>
</div>

<div id="picture" class="dropzone dz-clickable dz-started">
  <div class="dz-default dz-message">
    <span>Drop files here to upload</span>
  </div>
  <% file_name = '' %>
  <% Dir.glob("#{@folder_name}/*#{@to_format}").each do |file| %>
    <% file_name = file.gsub(@folder_name.to_s, '').to_s[1..99] %>
    <div class="dz-preview dz-processing dz-image-preview">
      <div class="dz-details">
        <div class="dz-filename" >
          <div class="dz-size" data-dz-size="" data-file-name="<%= file.gsub(@folder_rest.to_s, '') %>" style="left: 0px;top: 0px;" >
            <img data-dz-thumbnail="" alt="<%= file_name %>" style="cursor: pointer;" src="<%= file.gsub(@folder_rest.to_s, '') %>">
          </div>
          <div class="dz-progress">
            <span>
              <%= file_name %>
            </span>
            <span class="_dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span>
          </div>
          <div class="dz-error-message">
            <span data-dz-errormessage=""></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.dz-size').click(function() {
    window.open($(this).attr('data-file-name'));
  });
</script>